.container {
  display: flex;
  flex-direction: column;
  margin: 2em;
  gap: 0.5em;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
.flexRow {
  display: flex;
  gap:1.5em;
  justify-content: flex-end;
}

.titleInput,
.descriptionInput,
.authorInput {
  font-size: large;
  border: 1px solid #ccc;
  border-radius: 0.2em;
  background-color: rgba(250, 250, 250, 0.6);
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  outline: none;
}
.descriptionInput {
  overflow-y: auto;
  font-size: x-large;
  resize: none;
}

.cancelButton {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
}
.cancelButton:hover {
    cursor: pointer;
  }

